@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500&family=Montserrat:wght@300;400;500&display=swap');

$primaryFont: 'Montserrat';
$secondaryFont: 'Barlow Condensed';

$normalFontWeight: '500';
$secondaryFontWeight: '600';

$bigFontSize: '2.5rem';
$normalFontSize: '1.5rem';
