// Background colors

$primaryBlack: #18020C;
$primaryBackground: #323031;
$secondaryBackground: #3D3B3C;
$blueBackground: #5F5B6B;
$thirdBackground: #7F7979;
$beigeBackground: #C1BDB3;

// Text colors

$whiteText: #f3f3f3;
$greyblueText: #5F5B6B;
